{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edu-Sarathi Admin</title>
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    {% block head %}
    {% endblock %}

    {% block style %}
    {% endblock %}

</head>

<body>

<div class="container">

<!-- Sidebar -->
<aside class="sidebar">

<div class="logo">
<img src="{% static 'images/logo.jpeg' %}">
<h2>EDU-SARATHI</h2>
</div>

<ul>
<li class="active"><a href="{% url 'tutor' %}">Tutor Dashboard</a></li>
<li><a href="/mycourse">My Courses</a></li>
<li><a href="/materialupload">Material Upload</a></li>
<li><a href="/uploadlist">View Uploaded Material</a></li>
<!-- <li><a href="/aipromptlab">AI prompt Lab</a></li> -->
<li><a href="/quizgenerator">Quiz Generator</a></li>
<li><a href="/tutorchat">Connected to student</a></li>
<li><a href="/studentlist">Student List</a></li>
<li><a href="/logout">Logout</a></li>
</ul>

</aside>


{% block content %}
{% endblock %}

</div>

</body>
</html>